<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="VISBO_SmartInfo.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.diagnostics>
		<sources>
			<!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<userSettings>
		<VISBO_SmartInfo.MySettings>
   <setting name="userNamePWD" serializeAs="String">
    <value />
   </setting>
   <setting name="rememberUserPWD" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="showProjectLine" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="showAllIfOne" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="showAmpel" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="useOriginalNames" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="showPhName" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="showMsName" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="showPhDate" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="showMsDate" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="useAbbrev" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="kwInMilestone" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="showVerticals" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="showLegend" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="sortiertDauer" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="showHorizontals" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="allOnePage" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="extendedMode" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="projectswithNoPhMsmayPass" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="calLeftDate" serializeAs="String">
    <value />
   </setting>
   <setting name="calRightDate" serializeAs="String">
    <value />
   </setting>
   <setting name="customizationPath" serializeAs="String">
    <value>C:\Users\Koytek\Documents\Project-Tafel Folder\BHTC\</value>
   </setting>
   <setting name="mongoDBname" serializeAs="String">
    <value>bhtc</value>
   </setting>
   <setting name="mongoDBURL" serializeAs="String">
    <value>localhost</value>
   </setting>
   <setting name="VISBOServer" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="mongoDBWithSSL" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="proxyServerURL" serializeAs="String">
    <value />
   </setting>
   <setting name="awinPath" serializeAs="String">
    <value>C:\Users\Koytek\Documents\Project-Tafel Folder\BHTC\</value>
   </setting>
  </VISBO_SmartInfo.MySettings>
	</userSettings>
	<startup/></configuration>
