<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VISBO_1Click_PPT.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VISBO_1Click_PPT.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
      <sources>
       <!-- This section configures My.Application.Log -->
        <source name="DefaultSource" switchName="DefaultSwitch">
          <listeners>
           <add name="FileLog"/>
            <!-- Uncomment to connect the application file log. -->
            <!-- <add name="FileLog" /> -->
            <!-- Uncomment to connect the event log. -->
            <!-- <add name="EventLog" /> -->
            <!-- Uncomment to connect the event log. -->
            <!-- <add name="Delimited" /> -->
            <!-- Uncomment to connect the XML log. -->
            <!-- <add name="XmlWriter" /> -->
            <!-- Uncomment to connect the console log. -->
            <!-- <add name="Console" /> -->
          </listeners>
        </source>
      </sources>
      <switches>
        <add name="DefaultSwitch" value="Information" />
      </switches>
      <sharedListeners>
        <add name="FileLog"
             type="Microsoft.VisualBasic.Logging.FileLogTraceListener,&#xD;&#xA;                   Microsoft.VisualBasic, Version=8.0.0.0,&#xD;&#xA;                   Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"


             initializeData="FileLogWriter" />
        <add name="EventLog"
             type="System.Diagnostics.EventLogTraceListener,&#xD;&#xA;                   System, Version=2.0.0.0,&#xD;&#xA;                   Culture=neutral, PublicKeyToken=b77a5c561934e089"


             initializeData="sample application"/>
        <add name="Delimited"
             type="System.Diagnostics.DelimitedListTraceListener,&#xD;&#xA;                   System, Version=2.0.0.0,&#xD;&#xA;                   Culture=neutral, PublicKeyToken=b77a5c561934e089"


             initializeData="c:\temp\sampleDelimitedFile.txt"
             traceOutputOptions="DateTime" />
        <add name="XmlWriter"
             type="System.Diagnostics.XmlWriterTraceListener,&#xD;&#xA;                   System, Version=2.0.0.0,&#xD;&#xA;                   Culture=neutral, PublicKeyToken=b77a5c561934e089"


             initializeData="c:\temp\sampleLogFile.xml" />
        <add name="Console"
             type="System.Diagnostics.ConsoleTraceListener,&#xD;&#xA;                   System, Version=2.0.0.0,&#xD;&#xA;                   Culture=neutral, PublicKeyToken=b77a5c561934e089"


             initializeData="true" />
      </sharedListeners>
    </system.diagnostics>

    <applicationSettings>
        <VISBO_1Click_PPT.MySettings>
            <setting name="globalPath" serializeAs="String">
                <value />
            </setting>
            <setting name="awinPath" serializeAs="String">
                <value>C:\VISBO\VISBO Config Data\</value>
            </setting>
            <setting name="TaskClass" serializeAs="String">
                <value>VISBO Task Class</value>
            </setting>
            <setting name="VISBOAbbreviation" serializeAs="String">
                <value>VISBO Alias</value>
            </setting>
            <setting name="VISBOAmpel" serializeAs="String">
                <value>VISBO Ampel</value>
            </setting>
            <setting name="mongoDBURL" serializeAs="String">
                <value>https://my.visbo.net/api</value>
            </setting>
            <setting name="mongoDBname" serializeAs="String">
                <value />
            </setting>
            <setting name="VISBODebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VISBOAmpelText" serializeAs="String">
                <value>Indicators</value>
            </setting>
            <setting name="VISBOdeliverables" serializeAs="String">
                <value>VISBO Deliverables</value>
            </setting>
            <setting name="VISBOServer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VISBOresponsible" serializeAs="String">
                <value>Contact</value>
            </setting>
            <setting name="VISBOpercentDone" serializeAs="String">
                <value>% Abgeschlossen</value>
            </setting>
            <setting name="mongoDBWithSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="proxyServerURL" serializeAs="String">
                <value />
            </setting>
            <setting name="VISBOMapping" serializeAs="String">
                <value />
            </setting>
        </VISBO_1Click_PPT.MySettings>
    </applicationSettings>
    <userSettings>
        <VISBO_1Click_PPT.MySettings>
            <setting name="userNamePWD" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberUserPWD" serializeAs="String">
                <value>True</value>
            </setting>
        </VISBO_1Click_PPT.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
