<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VisboRPA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <VisboRPA.My.MySettings>
            <setting name="userNamePWD" serializeAs="String">
                <value />
            </setting>
            <setting name="rpaPath" serializeAs="String">
                <value>C:\VISBO\VISBO Config Data\RPA</value>
            </setting>
            <setting name="swPath" serializeAs="String">
                <value>C:\VISBO\Software</value>
            </setting>
            <setting name="VisboCenter" serializeAs="String">
                <value />
            </setting>
            <setting name="activePortfolio" serializeAs="String">
                <value />
            </setting>
            <setting name="rememberUserPWD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VisboConfigFiles" serializeAs="String">
                <value>C:\VISBO\VISBO Config Data\RPA\settings</value>
            </setting>
            <setting name="VisboURL" serializeAs="String">
                <value>https://dev.visbo.net/api</value>
            </setting>
            <setting name="proxyURL" serializeAs="String">
                <value />
            </setting>
        </VisboRPA.My.MySettings>
    </userSettings>
</configuration>